<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.stemhub.StemHub.macOS</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.951151256621-n1epq06mvtt0lu6t0k2f54j54f4gpi61</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
