<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>951151256621-n1epq06mvtt0lu6t0k2f54j54f4gpi61.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.951151256621-n1epq06mvtt0lu6t0k2f54j54f4gpi61</string>
	<key>API_KEY</key>
	<string>AIzaSyB0O8I4ZjrRZIo7c79jogTv-cIlUBbtWd8</string>
	<key>GCM_SENDER_ID</key>
	<string>951151256621</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stemhub.StemHub.macOS</string>
	<key>PROJECT_ID</key>
	<string>stemhub-b2c24</string>
	<key>STORAGE_BUCKET</key>
	<string>stemhub-b2c24.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:951151256621:ios:24ddf65a2041734a0b44a4</string>
</dict>
</plist>
